/*//////////////////// TAG SECTION ////////////////////*/
body{
    background-image: linear-gradient(120deg, #5eaaa8, #056676);
}


h1{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #eebb4d;
    padding-top: 8rem;
    
}

p{
    color: #eebb4d;
    font-size: 3rem;
}

/*//////////////////// CLASS SECTION ////////////////////*/
.stop-watch{
    width: 600px;
    height: 600px;
    margin: 0 auto 0 auto;
    text-align: center;
}


.button-start, .button-stop, .button-restart {
    border-radius: 10px;
    text-shadow: 5px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    font-family: Georgia;
    color: #eebb4d;
    font-size: 37px;
    background: #056676;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .button-start:hover, .button-stop:hover, .button-restart:hover {
    background: #318fb5;
    background-image: -webkit-linear-gradient(top, #318fb5, #72b0c9);
    background-image: -moz-linear-gradient(top, #318fb5, #72b0c9);
    background-image: -ms-linear-gradient(top, #318fb5, #72b0c9);
    background-image: -o-linear-gradient(top, #318fb5, #72b0c9);
    background-image: linear-gradient(to bottom, #318fb5, #72b0c9);
    text-decoration: none;
  }

  .button-start, .button-stop, .button-restart{
      margin-right: 1rem;
  }

  
    
    
